.App {
  text-align: center;
}

h1 {
  color: hotpink;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.weatherBit {
  display: inline-flex;
}

.weatherTab {
  display: flex;
  flex-direction: column;
  justify-content: end;
  border: 5px solid black;
  padding: 8px;
  height: 50vh;
  flex: 1 0 auto;
}
