.App {
  text-align: center;
}

html {
  background-color: rgb(99, 8, 163);
  background-image: url(./project3BG.png);
}

h1 {
  color: rgb(143, 221, 25);
  font-family: 'Creepster', cursive;
  font-size: 80px;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.weatherBit {
  display: inline-flex;
  font-family: 'Arvo', serif;
  color: rgb(143, 221, 25);
  font-size: 22px;
  font-weight: bold;
  background-color: grey;
}

.weatherTab {
  display: flex;
  flex-direction: column;
  justify-content: end;
  border: 5px solid black;
  padding: 8px;
  height: 50vh;
  flex: 1 0 auto;
}
form {
  font-family: 'Arvo', serif;
  color: rgb(143, 221, 25);
  font-weight: bold;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.userChoice1 select {
  display: flex;
  align-items: center;
}

select {
  font-family: 'Arvo', serif;
  font: 20px;
}

@media (max-width: 1240px) {
  .container {

    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    width: 100%;
  }
  .weatherBit {
    width: 100%;

  }
  .weatherTab {
    height: auto;
    align-items: flex-start;
  }
}
